//
//
// VARIANT 1
//
//
.tag_component_1{
    background: $c4;
    padding: 
    clamp(5px, calc((10 / $width) * 100vw), 10px)
    clamp(5px, calc((15 / $width) * 100vw), 15px)
    clamp(5px, calc((10 / $width) * 100vw), 10px)
    clamp(2.5px, calc((5 / $width) * 100vw), 5px);
    border-radius: clamp(5px, calc((10 / $width) * 100vw), 10px);
    @extend %center;
    gap: clamp(2.5px, calc((5 / $width) * 100vw), 5px);
    z-index: 1;
}

.tag_component_1 span{
    color: $cb;
    font-size: clamp(10px, calc((24 / $width) * 100vw), 24px);
    letter-spacing: clamp(1px, calc((2 / $width) * 100vw), 2px);
    font-weight: 600;
}

.tag_component_1 .spanNumber{
    padding-right: clamp(5px, calc((10 / $width) * 100vw), 10px);
    border-right: 3px solid $cw;
}

.tag_component_1 button{
    background: transparent;
    cursor: pointer;
}

.tag_component_1 button svg{
height: clamp(20px, calc((40 / $width) * 100vw), 40px);
width: clamp(20px, calc((40 / $width) * 100vw), 40px);
color: $cw;

}

.tag_component_1 .tag_input{
    position: relative;
    margin-left: clamp(5px, calc((10 / $width) * 100vw), 10px);
    @extend %center;
    flex-direction: column;
}

.tag_component_1 .tag_input span{
    position: absolute;
    top: -12.5px;
    font-size: clamp(5px, calc((10 / $width) * 100vw), 10px);
    letter-spacing: clamp(0px, calc((1 / $width) * 100vw), 1px);
    padding: 0;
    border: none;
}

.tag_component_1 .tag_input input{
    height: clamp(17.5px, calc((35 / $width) * 100vw), 35px);
    width: clamp(25px, calc((50 / $width) * 100vw), 50px);
    border-radius: clamp(2.5px, calc((5 / $width) * 100vw), 5px);
    border: none;
    text-align: center;
    color: $cb;
    font-size: clamp(10px, calc((20 / $width) * 100vw), 20px);
    cursor: pointer;
    -moz-appearance: textfield;
    }

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	margin:0;
}

input::-o-inner-spin-button,
input::-o-outer-spin-button { 
	-o-appearance: none;
	margin:0;
}
//
//
// VARIANT 2
//
//
.tag_component_2{
    background: $c2;
    padding: 
    clamp(2.5px, calc((5 / $width) * 100vw), 5px)
    clamp(5px, calc((15 / $width) * 100vw), 15px)
    clamp(2.5px, calc((5 / $width) * 100vw), 5px)
    clamp(2.5px, calc((5 / $width) * 100vw), 5px);
    border-radius: clamp(5px, calc((10 / $width) * 100vw), 10px);
    @extend %center;
    gap: clamp(2.5px, calc((5 / $width) * 100vw), 5px);
    z-index: 1;
}

.tag_component_2 span{
    color: $cb;
    font-size: clamp(9px, calc((18 / $width) * 100vw), 18px);
    letter-spacing: clamp(1px, calc((2 / $width) * 100vw), 2px);
    font-weight: 600;
}

.tag_component_2 .spanNumber{
    padding-right: clamp(5px, calc((10 / $width) * 100vw), 10px);
    border-right: 3px solid $cw;
}

.tag_component_2 button{
    background: transparent;
    cursor: pointer;
}

.tag_component_2 button svg{
height: clamp(15px, calc((30 / $width) * 100vw), 30px);
width: clamp(15px, calc((30 / $width) * 100vw), 30px);
color: $cw;
transition: .5s;
&:hover{
scale: 1.1;
color: $cb;
}
}

.tag_component_2 .tag_input{
    position: relative;
    margin-left: clamp(5px, calc((10 / $width) * 100vw), 10px);
    @extend %center;
    flex-direction: column;
}

.tag_component_2 .tag_input span{
    position: absolute;
    top: -12.5px;
    font-size: clamp(5px, calc((10 / $width) * 100vw), 10px);
    letter-spacing: clamp(0px, calc((1 / $width) * 100vw), 1px);
    padding: 0;
    border: none;
}

.tag_component_2 .tag_input input{
    height: clamp(17.5px, calc((35 / $width) * 100vw), 35px);
    width: clamp(25px, calc((50 / $width) * 100vw), 50px);
    border-radius: clamp(2.5px, calc((5 / $width) * 100vw), 5px);
    border: none;
    text-align: center;
    color: $cb;
    font-size: clamp(10px, calc((20 / $width) * 100vw), 20px);
    cursor: pointer;
    -moz-appearance: textfield;
    }

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	margin:0;
}

input::-o-inner-spin-button,
input::-o-outer-spin-button { 
	-o-appearance: none;
	margin:0;
}