@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@200;300;400;500;600;700;800&family=Nerko+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet');
//
//
$width: 1600;
$height: 1000;
$lineH: 48;
//
//
// SIZE
//
//
$sizeTypoMax0: 5;
$sizeTypoMin0: 0;
.size-typo0{
    font-size: clamp(calc($sizeTypoMin0 * 1px), calc(($sizeTypoMax0 / $width) * 100vw), calc($sizeTypoMax0 * 1px));
    line-height: clamp(calc($sizeTypoMin0 * 1px), calc(($sizeTypoMax0 / $width) * 100vw), calc($sizeTypoMax0 * 1px));
    letter-spacing: clamp(0px, calc((1 / $width) * 100vw), 1px) ;
}

$sizeTypoMax1: 10;
$sizeTypoMin1: 5;
.size-typo1{
    font-size: clamp(calc($sizeTypoMin1 * 1px), calc(($sizeTypoMax1 / $width) * 100vw), calc($sizeTypoMax1 * 1px));
    line-height: clamp(calc($sizeTypoMin1 * 1px), calc(($sizeTypoMax1 / $width) * 100vw), calc($sizeTypoMax1 * 1px));
    letter-spacing: clamp(0px, calc((1 / $width) * 100vw), 1px) ;
}

$sizeTypoMax2: 12;
$sizeTypoMin2: 6;
.size-typo2{
    font-size: clamp(calc($sizeTypoMin2 * 1px), calc(($sizeTypoMax2 / $width) * 100vw), calc($sizeTypoMax2 * 1px));
    line-height: clamp(calc($sizeTypoMin2 * 1px), calc(($sizeTypoMax2 / $width) * 100vw), calc($sizeTypoMax2 * 1px));
    letter-spacing: clamp(0px, calc((1 / $width) * 100vw), 1px) ;
}

$sizeTypoMax3: 15;
$sizeTypoMin3: 7.5;
.size-typo3{
    font-size: clamp(calc($sizeTypoMin3 * 1px), calc(($sizeTypoMax3 / $width) * 100vw), calc($sizeTypoMax3 * 1px));
    line-height: clamp(calc($sizeTypoMin3 * 1px), calc(($sizeTypoMax3 / $width) * 100vw), calc($sizeTypoMax3 * 1px));
    letter-spacing: clamp(0px, calc((1 / $width) * 100vw), 1px) ;
}

$sizeTypoMax4: 18;
$sizeTypoMin4: 9;
.size-typo4{
    font-size: clamp(calc($sizeTypoMin4 * 1px), calc(($sizeTypoMax4 / $width) * 100vw), calc($sizeTypoMax4 * 1px));
    line-height: clamp(calc($sizeTypoMin4 * 1px), calc(($sizeTypoMax4 / $width) * 100vw), calc($sizeTypoMax4 * 1px));
    letter-spacing: clamp(0px, calc((1 / $width) * 100vw), 1px) ;
}

$sizeTypoMax5: 20;
$sizeTypoMin5: 10;
.size-typo5{
    font-size: clamp(calc($sizeTypoMin5 * 1px), calc(($sizeTypoMax5 / $width) * 100vw), calc($sizeTypoMax5 * 1px));
    line-height: clamp(calc($sizeTypoMin5 * 1px), calc(($sizeTypoMax5 / $width) * 100vw), calc($sizeTypoMax5 * 1px));
    letter-spacing: clamp(0px, calc((1 / $width) * 100vw), 1px) ;
}

$sizeTypoMax6: 24;
$sizeTypoMin6: 12;
.size-typo6{
    font-size: clamp(calc($sizeTypoMin6 * 1px), calc(($sizeTypoMax6 / $width) * 100vw), calc($sizeTypoMax6 * 1px));
    line-height: clamp(calc($sizeTypoMin6 * 1px), calc(($sizeTypoMax6 / $width) * 100vw), calc($sizeTypoMax6 * 1px));
    letter-spacing: clamp(0px, calc((1 / $width) * 100vw), 1px) ;
}

$sizeTypoMax7: 30;
$sizeTypoMin7: 15;
.size-typo7{
    font-size: clamp(calc($sizeTypoMin7 * 1px), calc(($sizeTypoMax7 / $width) * 100vw), calc($sizeTypoMax7 * 1px));
    line-height: clamp(calc($sizeTypoMin7 * 1px), calc(($sizeTypoMax7 / $width) * 100vw), calc($sizeTypoMax7 * 1px));
    letter-spacing: clamp(0px, calc((1 / $width) * 100vw), 1px) ;
}

$sizeTypoMax8: 38;
$sizeTypoMin8: 19;
.size-typo8{
    font-size: clamp(calc($sizeTypoMin8 * 1px), calc(($sizeTypoMax8 / $width) * 100vw), calc($sizeTypoMax8 * 1px));
    line-height: clamp(calc($sizeTypoMin8 * 1px), calc(($sizeTypoMax8 / $width) * 100vw), calc($sizeTypoMax8 * 1px));
    letter-spacing: clamp(0px, calc((2 / $width) * 100vw), 2px) ;
}

$sizeTypoMax9: 38;
$sizeTypoMin9: 19;
.size-typo9{
    font-size: clamp(calc($sizeTypoMin9 * 1px), calc(($sizeTypoMax9 / $width) * 100vw), calc($sizeTypoMax9 * 1px));
    line-height: clamp(calc($sizeTypoMin9 * 1px), calc(($sizeTypoMax9 / $width) * 100vw), calc($sizeTypoMax9 * 1px));
    letter-spacing: clamp(0px, calc((1 / $width) * 100vw), 1px) ;
}

$sizeTypoMax10: 46;
$sizeTypoMin10: 23;
.size-typo10{
    font-size: clamp(calc($sizeTypoMin10 * 1px), calc(($sizeTypoMax10 / $width) * 100vw), calc($sizeTypoMax10 * 1px));
    line-height: clamp(calc($sizeTypoMin10 * 1px), calc(($sizeTypoMax10 / $width) * 100vw), calc($sizeTypoMax10 * 1px));
    letter-spacing: clamp(0px, calc((1 / $width) * 100vw), 1px) ;
}
//
//
// COLOR
//
//
$delaisColor: .5s;
.cb{
    color: #000000;
}
.cw{
    color: #ffffff;
}
.c1{
    color: var(--c1, $c1);
    transition: color $delaisColor;
}
.c2{
    color: var(--c2, $c2);
    transition: color $delaisColor;
}
.c3{
    color: var(--c3, $c3);
    transition: color $delaisColor;
}
.c4{
    color: var(--c4, $c4);
    transition: color $delaisColor;
}
.c5{
    color: var(--c5, $c5);
    transition: color $delaisColor;
}
.c6{
    color: var(--c6, $c6);
    transition: color $delaisColor;
}
.c7{
    color: var(--c7, $c7);
    transition: color $delaisColor;
}
.c8{
    color: var(--c8, $c8);
    transition: color $delaisColor;
}
//
//
// TEXT
//
//
.maj{
    text-transform: uppercase;
}
.min{
    text-transform: lowercase;
}
.cap{
    text-transform: capitalize;
}
.center{
    text-align: center;
}
//
//
// WEIGHT
//
//
.weight-typo1{
    font-weight: 100;
}

.weight-typo2{
    font-weight: 200;
}

.weight-typo3{
    font-weight: 300;
}

.weight-typo4{
    font-weight: 400;
}

.weight-typo5{
    font-weight: 500;
}

.weight-typo6{
    font-weight: 600;
}

.weight-typo7{
    font-weight: 700;
}

.weight-typo8{
    font-weight: 800;
}

.weight-typo9{
    font-weight: 900;
}
//
//
// FAMILLY
//
//
.familly-typo1{
 font-family: 'Manrope', sans-serif;
}

.familly-typo2{
 font-family: 'Anton', sans-serif;
}

.familly-typo3{
 font-family: "Nerko One", sans-serif;
}

.familly-typo4{
    
}

.familly-typo5{
    
}