@import "./1_color.scss";
@import "./2_typography.scss";
@import "./3_placeholder.scss";
@import "./4_mixin_function.scss";
@import "./5_settings.scss";
@import "./6_loader_spinner.scss";
@import "./7_button.scss";
@import "./8_img.scss";
@import "./9_modal.scss";
@import "./10_input.scss";
@import "./11_dropdown.scss";
@import "./12_tag.scss";
@import "./index.scss";